@import 'globals.less';

div.polaroid {
  width: 20em !important;
  height: 22em !important;
  box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.2) !important;
  background-color: white !important;
  border-radius: 0.7em !important;
  display: inline !important;
}

div.polaroid:hover {
  cursor: pointer !important;
}

div.card-body-container {
  background-color: yellow !important;
  border-radius: 0.7em 0.7em 0 0;
  height: 65%;
}

div.card-header-container {
  padding: 2em !important;
}

.rotated-icon {
  transform: rotate(90deg) !important;
}

.card-text {
  font-size: small;
}

div.banner {
  display: flex;
  justify-content: flex-end;
  padding: 1.5em;
}

.tag-padding {
  padding-left: 1.5em;
  padding-right: 1.5em;
}
