@import 'globals.less';

.nav {
  background-color: @base-color !important;
}

.nav-item {
  background-color: blue !important;
  height: 50px;
}

.nav-item:hover {
  background-color: saturate(@base-color, 50%);
}
