.container,
.input {
  width: 100%;
}

.suggestionsContainer {
  margin-top: 1px;
}

.suggestionFirst {
  border-radius: 10px 10px 0 0;
}

.suggestionsContainer,
.suggestionsList {
  border-radius: 10px !important;
}

.suggestion {
  list-style: none;
}
